# SQL + Python integration task

1 Create new database taskDB.db using SQLiteStudio

2 Write code in Python which creates table employee. Define following columns : id_employee int, name text, surname text, salary text ,year_of_birth int,month_of_birth int, day_of_birth int,pesel text . Name and surname values cannot be NULL. Column id_employee is primary key with autoincrement option. Pesel default value is NULL.

3 Create list, which contains random data about 10 employees and insert this data into employee table. Print info about number of affected rows.

4 Add code in Python which inserts  info about single employee into table employee.

5 Use SQL select command to read data about all empoyee's id,names,surnames,salary ordered by salary. Save results on the list
and print it.

6 Write custom function generatePesel, which can be used in SQL insert procedure. Function generatePesel returns pesel as a string value. The format of pesel is following: year_month_day_A_B, where A and B are random values, and year=year_of_birth,month__of_birth,day_of_birth

7  Write SQL command, which returns info about employees,whose salary  is greater than 3000. Write code in Python which operates on row objects in given table. Print basic statistics: print column names and number of columns.

8 Add the use of Exceptions to Your code.

9 Read data about all emploees to list allRecords. Double the salary of each employee and updata new data in table employee.