# Pandas - exercises
Using the marriage dataset solve the following exercises:

In [ ]:
import numpy as np
import pandas as pd

Show the first three and the last three rows using display function (remember to import it)

Create a new dataset which contains all the original dataset's columns except occupation.

Check how many unique values the children variable has. Display summary statistics about this variable.

Create a variable containing natural logarithm of age.

Create a discrete variable for education which denotes education level (instead of years of education) in ascending order.

Using numpy draw a random income from log-normal distribution for each observation. Use such parameters that income looks credible taking current market conditions into account and that expected value for income increases with years of education.

Select and display rows which fulfill the following criteria:
* People who have at least two children
* People who have at least two children and are over 30 years old
* People who have at least two children and are over 30 years old, but not over 40 years old.

* Add a row (fill all the values manually) for a person with seven children.
* Change all the values in such a way that all people having three children would have four children.

For people who have: no children, 1 child, 2 children and so on (make sure you display all values) select and display first 5 rows of people who are over 40 years old. Use query and @ operator.

Tip: You can iterate over marr.children.unique()

* Group observations by variable "rate" and calculate income's mean and standard deviation for each of the groups.
* Get rid of unnecessary MultiIndex.

For every row assign the mean income of people who have the same values of rate and level of education (defined earlier).

For every row calculate the difference between income and mean income for a group of people who have the same values of rate and level of education (defined earlier). Do it in one statement (one line, no semicolon) not using the variable created earlier.

For every row assign a variable containing the word "yes" if a person have more than one child and income below average and the word "no" otherwise.

Group people by education level and describe the group using .describe().